@mixin right-content {
  .right {
    width: 50%;
    height: 100%;
    margin-right: 8rem;
    margin-top: 5rem;

    h1 {
      font-size: 3rem;
    }

    ul {
      position: relative;
      list-style: none;
      padding: 0;
      padding-left: 0.5rem;
      margin-top: 1.5rem;

      li {
        padding: 1rem 0;
        font-size: 1.2rem;
        color: $light-graye;
        .list-item {
          input[type="checkbox"] {
            display: none;
          }

          .lbl-toggle {
            display: flex;
            justify-content: space-between;
            margin-bottom: 1rem;
            transition: all 0.25s ease-out;
            cursor: pointer;

            &:hover {
              color: $soft-red;
            }
            &::after {
              content: " ";
              width: 10px;
              height: 7px;
              background-image: url("../images/icon-arrow-down.svg");
              background-repeat: no-repeat;
              background-position: center;
              transition: all 0.2s ease-out;
            }
          }

          .collapsible-content {
            max-height: 0px;
            font-size: 12px;
            line-height: 18px;
            overflow: hidden;
            transition: max-height 0.2s ease-in-out;

            .content-inner {
              margin: 5px 0px;
            }

            p {
              margin-bottom: 0;
            }
          }

          .toggle {
            &:checked + .lbl-toggle + .collapsible-content {
              max-height: 350px;
            }
            &:checked + .lbl-toggle {
              font-weight: bold;
              color: $dark-blue;
            }
            &:checked + .lbl-toggle::after {
              transform: rotate(180deg);
            }
          }
        }
        .separator {
          content: "";
          border-bottom: 1px solid $dark-white;
          margin-bottom: 10px;
          width: 105%;
        }
      }
    }
  }
}
