@font-face {
    src: url(/fonts/KumbhSans-Light.ttf) format('truetype');
    font-family: 'KumbhSans';
    font-weight: lighter;
}
@font-face {
    src: url(/fonts/KumbhSans-Bold.ttf) format('truetype');
    font-family: 'KumbhSans';
    font-weight: bold;
}
@font-face {
    src: url(/fonts/KumbhSans-Regular.ttf) format('truetype');
    font-family: 'KumbhSans';
    font-weight: normal;
}