@font-face {
  src: url(.././fonts/KumbhSans-Light.ttf) format("truetype");
  font-family: 'KumbhSans';
  font-weight: lighter;
}

@font-face {
  src: url(.././fonts/KumbhSans-Bold.ttf) format("truetype");
  font-family: 'KumbhSans';
  font-weight: bold;
}

@font-face {
  src: url(.././fonts/KumbhSans-Regular.ttf) format("truetype");
  font-family: 'KumbhSans';
  font-weight: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
}

html, body {
  font-size: 12px;
  color: #1d1e35;
  font-family: 'KumbhSans', Helvetica, sans-serif;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7));
  background-image: linear-gradient(#af67e9, #6565e7);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  position: relative;
  width: 888px;
  height: 493px;
  margin: 0 45px;
}

.card .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  border-radius: 25px;
  background-color: white;
  overflow: hidden;
}

.card .container .left {
  width: 50%;
  height: 100%;
  background-image: url(".././images/bg-pattern-desktop.svg");
  background-repeat: no-repeat;
  background-size: 900px;
  background-position-x: -505px;
  background-position-y: -272px;
}

.card .container .left .woman {
  position: relative;
  top: 50px;
  left: -85px;
}

.card .container .left .box {
  position: absolute;
  left: -90px;
  top: 180px;
}

.card .container .right {
  width: 50%;
  height: 100%;
  margin-right: 8rem;
  margin-top: 5rem;
}

.card .container .right h1 {
  font-size: 3rem;
}

.card .container .right ul {
  position: relative;
  list-style: none;
  padding: 0;
  padding-left: 0.5rem;
  margin-top: 1.5rem;
}

.card .container .right ul li {
  padding: 1rem 0;
  font-size: 1.2rem;
  color: #787887;
}

.card .container .right ul li .list-item input[type="checkbox"] {
  display: none;
}

.card .container .right ul li .list-item .lbl-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  cursor: pointer;
}

.card .container .right ul li .list-item .lbl-toggle:hover {
  color: #f47c57;
}

.card .container .right ul li .list-item .lbl-toggle::after {
  content: " ";
  width: 10px;
  height: 7px;
  background-image: url(".././images/icon-arrow-down.svg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.card .container .right ul li .list-item .collapsible-content {
  max-height: 0px;
  font-size: 12px;
  line-height: 18px;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-in-out;
  transition: max-height 0.2s ease-in-out;
}

.card .container .right ul li .list-item .collapsible-content .content-inner {
  margin: 5px 0px;
}

.card .container .right ul li .list-item .collapsible-content p {
  margin-bottom: 0;
}

.card .container .right ul li .list-item .toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 350px;
}

.card .container .right ul li .list-item .toggle:checked + .lbl-toggle {
  font-weight: bold;
  color: #1d1e35;
}

.card .container .right ul li .list-item .toggle:checked + .lbl-toggle::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.card .container .right ul li .separator {
  content: "";
  border-bottom: 1px solid #e7e7e9;
  margin-bottom: 10px;
  width: 105%;
}
/*# sourceMappingURL=style.css.map */